          
<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog %></h2>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>
   
  <%= render partial: 'blogs/admin_actions', locals: {blog: blog} %>

  <p><%= "#{blog.body.first(500)}..." %></p>

</div>
<%# we set this to a post here it is not reccomened to do this in controller as it that can allow values to easily be tampered with %>
