      
<header class="masthead pb-30 mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Steven Klavins</h3>
    <nav class="nav nav-masthead justify-content-center app-nav">
     <%= nav_helper("nav-link", "span")%>
      <%= login_helper("nav-link nav-link-spacer")%>
    </nav>
  </div>
</header>
