             
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">Throughout my projects, you will find a hand full of different databases, 
      frameworks, and tools. I'm an Agile team player and utilize tech such as slack, Miro, and Trello to aid
      the process.</p>
    <p>
      <%= link_to 'Find out more about me', about_me_path, class: "btn btn-primary" %>
      <%= link_to 'My Blog', blogs_path, class: "btn btn-secondary" %>
    </p>
    <%= source_helper("source-alert-portfolio") %>
  </div>
</section>
