<h1>Want to work together?</h1>
<p>If you would like to get in touch the best way to contact me is via email.
Alternatively, you can also contact me on any of the social media platforms listed, 
links are provided below. If you would like to chat in real-time to ask anything 
please don't hesitate to contact me on LinkedIn.<p>

<div>
<div class ="contact">
<h3>Email</h3>
<p><a href = "mailto:stevenklavins94@gmail.com">stevenklavins94@gmail.com</a></p>

<h3>Phone</h3>
<p><%= number_to_phone "5555555555"%></p>

<h3>Social Links</h3>
<ul>
<li><%= link_to "LinkedIn", "https://www.linkedin.com/in/steven-klavins-90b02a199/"%></li>
<li><%= link_to "Twitter", "https://twitter.com/KlavinsSteven"%></li>
<li><%= link_to "GitHub", "https://github.com/Steven-Klavins"%></li>
<ul>
</div>

<div class = "map">
<h3>Location</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158857.72810864777!
2d-0.24167975218261603!3d51.52877184030937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!
1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon!5e0!3m2!1sen!2suk!4v1619379365790!5m2!
1sen!2suk" width="370" height="230" style="border:0;" allowfullscreen="" loading="lazy">
</iframe>
</div>
</div>