  
<h1 class="cover-heading">Welcome</h1>
<p class="lead">Thank you so much for visiting my website! I'm a full-stack developer, Makers academy graduate, 
  and tech addict. I'm presently based in south London (UK) however I'm an experienced remote worker and have the 
  flexibility to relocate/travel if need be.
  I hold a BA in Digital Arts, perform in a band, and have a love of all things creative. 
</p>
<p class="lead">
  If you're looking for 
  someone with high ambition, an eagerness to learn, and the desire to make the world a better place through 
  tech I'm your guy!
  To be frank, its what gets me out of bed in the morning. Want to chat? Feel free to contact me on any of the 
  listed platforms below or visit my contact page for further details.</p>
<p class="lead">
  <%= link_to "About me", about_me_path, class: "btn btn-lg btn-secondary"%>
</p>
