@import "~bootstrap/scss/bootstrap";


/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

@media screen and (max-width: 860px) {
    .cover-container {
        max-width: 25em;
      }
}
.cover-container {
  width: 55em;
}

.map {
  padding: 0;
  margin: 0;
}

.contact {
  float: left;
  max-width: 300px;
  margin-right: 180px;
}

.contact ul {
  padding: 0;
  list-style: none;
}
/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/*
 * Custom styles
 */

 .card-body {
   color: rgb(0, 0, 0);

 }

 .auth-links {
  margin-top: 12px;
 }

 .auth-links a {
   color: rgb(0, 0, 0);
 }

 .register-text {
    text-align: right;
    margin-top: 12px;
 }
 
 .login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
 }

 .app-nav span {
   margin-left: 15px;
   margin-right: 15px;
 }

 #background {
   position: fixed;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;
   -webkit-transform: translateX(-50%) translateY(-50);
   transform: translateX(-50%) translateY(-50);
   background-image: url('../../assets/images/home_bg.png');
   background-repeat: no-repeat;
   background-size: cover;
 }

 .app-footer {
   color: rgb(255, 255, 255);
 }

 .tech-news{
   color: black;
   margin: 20px;
 }

 .tech-news a{
  color: rgb(4, 129, 160);
}

.tech-news > .card{
  padding: 30px;
}

.nav-link-spacer {
  margin-left: 12px;
}

.twitter-feed {
  margin-top: 30px;
}

.app-card-container {
  color: rgb(0, 0, 0);
}

.app-card-container a {
  color: #007bff;
}

.app-card-container > .card {
  padding: 30px;
}

.profile-text {
  margin-left: 18px;
}

.spacer {
  border: none;
}

.card-block {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.skill{
  margin-bottom: 12px;
}

.skills{
  margin-top: 18px;
}
